# General
config.env
*.pem
*.key
logs/

# Python
__pycache__/
app.db
app/**/__pycache__/
app/translations/**/*.mo
migrations/**/__pycache__/
venv/

# Terraform
*.tfvars
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl